@model dynamic

@{
    ViewData["Title"] = "Question 7";
}
<p>7.	How many people are working on more than one projects?</p>
<div class="row alert-info" style="padding:5px">
    @Html.Raw(@ViewData["LINQ"].ToString().Replace("^", "<br/>").Replace("_", "&emsp;"))
</div>
<div>
    <p/>
    <h4>Number of people working on multiple projects = @Model.ResourceCount</h4>
</div>