@model IEnumerable<Group1_Assn4.Models.ProjectResource>

@{
    ViewData["Title"] = "Question 10";
}
<p>10.	Who are top 5 resources who have worked on more than 10 projects?   </p>
<div class="row alert-info" style="padding:5px">
    @ViewData["LINQ"]
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Resource.ResourceName)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Resource.ResourceName))
                </td>

            </tr>
        }
    </tbody>
</table>
